* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #2B283A;
}
nav{
  display: flex;
  align-items: center;
  background-color:#F55A5A ;
  height: 90px;
  justify-content: center;

}nav >img{
  width: 24px;
height: 24px;
left: 213px;
top: 16px;
margin: 8px;

}
nav > p{
  color: #FFFF;
  /* font-family: 'Inter'; */
font-style: normal;
font-weight: 500;
font-size: 14.4608px;
line-height: 18px;
letter-spacing: -0.075em;
}

.card{
  margin: 60px 50px;
  justify-content: center;
  display: flex;
 flex-direction: row;
 gap: 60px;
 position: relative;
}

.card-photo{
  width: 125px;
height: 168px;
border-radius: 5px;

}
.card-location{
  display: flex;
gap: 10px;
}
.card-location > img{
width: 7px;
height: 9.55px;


}
.card-location > span{
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;

}
a{
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
/* identical to box height */

text-decoration-line: underline;

color: #918E9B;
}
.card-more > h1{

font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

}
.card-more > h4{
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;

}
.card-more > p{
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
width: 326px;
height: 60px;
}
hr{
  /* position: absolute;
 
height: 0px;
margin-top: -30px;
left: 48px; */
display: flex;
justify-content: center;
 width:530px;
border: 1px solid #F5F5F5;
}